{% load static %}
<!DOCTYPE html>
<html lang="fr">
<meta charset="utf-8"/>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}" />
  <script src="{% static 'base/d3.v4.min.js' %}"></script>
  <script src="{% static 'base/jquery.min.js' %}"></script>
  <title>Client side : from csv to svg</title>
</head>
<h1>Un emploi du temps</h1>
<svg height="440" width="400">
  <g class="courses-layer">
  </g>
  <g class="grid-layer">
  </g>
</svg>
<script type='text/javascript' >
var year ={{year}};
var dataPath ="{% static 'base/data'%}"+year.toString()+".csv";

</script>
<script type='text/javascript' src="{% static 'base/script.js' %}"></script>
</html>
