{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Morpion</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/style.css' %}" />
  <script src="{% static 'main_app/jquery.min.js' %}"></script>
  <script src="{% static 'main_app/d3.v4.min.js' %}"></script>
</head>
<body>
 <h1>Match entre {{ player1 }} et {{ player2 }}</h1>
 <svg height="300" width="300" id="grille" >
 </svg>
 <form style="white-space: nowrap;" name="send"  action="javascript:send_game()">
   Envoyer la partie<br/></br>
   <input type="submit" name="send" value="Envoyer"></br>
 </form>
 <button type="button" onclick="new_game()">Nouvelle partie</button>
  <script>
    var url_save = "{% url 'main_app:save' %}" ;
    var url_load = "{% url 'main_app:load' %}" ;
    var player1 = "{{ player1 }}" ;
    var player2 = "{{ player2 }}" ;
  </script>
  <script type='text/javascript' src="{% static 'main_app/script.js' %}"></script>
</body>
</html>
